.hero-container.blhero2.skhero1
  .hero-content
    = image_tag "/images/home/home-illustration-sept-2020-01.svg", class: "hero-background-full-image", style: "max-height: 500px; opacity: .8; position: absolute; right: -7%; top: -45px; width: 60%;"
    .row
      .col-md-8
        %h1.bold-headline.margin-top0.hero-item
          The sky is the limit
        .hero-item
          %h3 
            with a complete DevOps platform.
        .buttons-container.margin-top20.hero-item.u-margin-top-sm
          = link_to "https://gitlab.com/-/trial_registrations/new?glm_source=about.gitlab.com&glm_content=free-trial", class: "btn cta-btn large orange-light" do
            Try GitLab FREE for 30 days

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}

<script src="/javascripts/home.js" type="text/javascript" data-cookieconsent="ignore"></script>
