---
layout: default
title: 'GitLab 14'
description: 'Accelerate modern DevOps. Bring velocity with confidence, security without sacrifice, and visibility into DevOps success.'
twitter_image: "/images/gitlab-14/gitlab-14-image.png"
twitter_image_alt: "GitLab 14"
twitter_site: "gitlab"
twitter_creator: "gitlab"
canonical_path: "/gitlab-14/"
suppress_header: true
disable_default_styles: true
disable_handbook_styles: true
slippers_preflight: true
extra_css:
  - home2020.css
  - gitlab14.css
---

%main.slp-px-16.slp-container.slp-mx-auto.lg:slp-px-60
  %section.slp-pt-48.md:slp-grid-cols-2.md:slp-grid.md:slp-pb-60.md:slp-gap-12
    %img.slp-w-full.md:slp-max-w-2xl.md:slp-order-2.md:slp-justify-self-center{:alt => "", :src => "/images/gitlab-14/gitlab-version-releases-14-website-header.svg"}
    %div
      %h1.gitlab-14-h1.slp-pt-32.slp-pb-16.sm:slp-mr-16.lg:slp-mr-96.slp-text-center.sm:slp-text-left
        GitLab 14
      %p.gitlab-14-subtitle.slp-pb-8.slp-text-center.sm:slp-text-left
        Accelerate modern DevOps. Bring velocity with confidence, security without sacrifice, and visibility into DevOps success.
      %a.slp-btn.slp-w-full.sm:slp-w-auto.sm:slp-mr-8{:href => "/free-trial/", :style => "margin-top: 0 !important; margin-bottom: 8px !important"}
        Try GitLab for FREE
      %a.slp-btn.slp-btn--secondary.slp-w-full.sm:slp-w-auto{:href => "/sales/", :style => "margin-top:0 !important; margin-bottom: 0 !important;"}
        Contact Sales
  %section.slp-mt-48.md:slp-grid.md:slp-grid-cols-2.md:slp-gap-12
    .slp-mb-48
      %h2.gitlab-14-h2.slp-pb-16 Velocity with confidence
      %p.slp-text-base
        GitLab’s consistent, efficient developer and operator experience leads to a simplified and more predictable SDLC. By using one tool for source code management, CI, CD, and security, teams are more efficient and productive with streamlined collaboration. Engineers are happier when they can focus on adding value, rather than maintaining integrations &mdash; and happy developers attract and retain talent.
      %a.slp-text-base.slp-text-ui-secondary-dark{:href => "/free-trial/"}
        Get started now →
    .slp-mb-48
      %h2.gitlab-14-h2.slp-pb-16 Security without sacrifice
      %p.slp-text-base
        Mitigate risk of both the software factory and its deliverables while maintaining development velocity. Built-in and extensible AppSec testing allows developers to focus on writing code instead of managing tools. Development and Security teams can truly collaborate with each other, on the same platform. Common controls, end-to-end, help with compliance and security of your software supply chain.
      %a.slp-text-base.slp-text-ui-secondary-dark{:href => "/free-trial/"}
        Get started now →
    .slp-mb-48
      %h2.gitlab-14-h2.slp-pb-16 Visibility into DevOps success
      %p.slp-text-base
        With out-of-the-box operational metrics (including DORA metrics such as deployment frequency and lead time), you’ll always know where you  align with IT and business priorities. With visibility into bottlenecks and a path to resolve them, you’ll gain confidence in your ability to drive both team performance and competitive advantage.
      %a.slp-text-base.slp-text-ui-secondary-dark{:href => "/free-trial/"}
        Get started now →
    .slp-mb-48
      %h2.gitlab-14-h2.slp-pb-16
        Related Resources
      %p
        %a.slp-text-base.slp-text-ui-secondary-dark{:href => "https://page.gitlab.com/the-shift-to-modern-devops.html"}
          GitLab 14 Release Webcast →
      %p  
        %a.slp-text-base.slp-text-ui-secondary-dark{:href => "/blog/2021/06/22/gitlab-14-modern-devops"}
          GitLab 14 Launch Blog →
      %p
        %a.slp-text-base.slp-text-ui-secondary-dark{:href => "/releases/2021/06/22/gitlab-14-0-released"}
          GitLab 14 Release Post →
      %p
        %a.slp-text-base.slp-text-ui-secondary-dark{:href => "https://youtu.be/mSspEk8efHE"}
          GitLab 14 Community Meetup: Favorite Features Review →          
  %section.slp-flex.slp-flex-col.slp-mb-48
    %img.slp-m-auto.slp-pb-16{:alt => "", :src => "/images/developer-survey/social-proof.png"}/
    %h2.slp-text-xl.slp-text-center.slp-mb-16
      Unlimited access to GitLab Ultimate for 30 days. 
    %div.slp-m-auto
      %a.slp-btn.slp-w-full.sm:slp-w-auto.sm:slp-mr-8{:href => "/free-trial/", :style => "margin-top: 0 !important; margin-bottom: 8px !important"}
        Try GitLab for FREE
      %a.slp-btn.slp-btn--secondary.slp-w-full.sm:slp-w-auto{:href => "/sales/", :style => "margin-top:0 !important; margin-bottom: 0 !important;"}
        Ask us anything
